body {
	text-align: center;
}

#box {
	display: block;
	width: 500px;
	margin: 50px; auto;
	padding: 15px;
	text-align: center;
	border: 5px solid blue;
	background: yellow;
	outline: 7px solid red;
	-webkit-transform: translate(-20px, -50px) rotate(30deg) scale(.8);
}

#text {
	font: bold 30px Century Gothic;
	text-shadow: rgb(40, 40, 40) 1px 1px 3px;
}