body {
	text-align: center;
}

#box {
	font-size: 30px;
	border: 3px solid purple;
	/*outline: 3px solid green;*/
	display: block;
	margin: 150px auto;
	color: white;
	/*background: -webkit-linear-gradient(45deg, black, white);*/
	background: -webkit-radial-gradient(center, circle, red 20%, orange 80%);
	width: 180px;
	height: 80px;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: rgb(110, 110, 110) 10px 8px 8px;
	-webkit-transition:-webkit-transform .5s;
}

#box > p {
	text-shadow: darkgray 1px 1px 3px;
}

#box:hover {
	-webkit-transform: translate(-30px, -40px) rotate(45deg) scale(1.2);

	