*{
	margin: 0px;
	padding: 0px;
}

h1{
	font: bold 20px Tahoma;
}
h2{
	font: bold 14px Tahoma;
}

header, section, footer, aside, nav, article, hgroup{
	display: block;
}

body{
	width: 100%;
	display:-webkit-box;
	-webkit-box-pack:center;
}

#bigrapper {
	max-width: 1000px;
	margin: 20px 0px;
	display: -webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-flex:1;
}

#topHeader{
	background: -webkit-radial-gradient(center, circle, maroon 20%, gold 80%);
	border: 3px solid black;
	padding: 20px;
}

#topMenu {
	border: 2px solid black;
	background: -webkit-radial-gradient(center, circle, gold 20%, maroon 80%);
	color: black;
}

#topMenu li {
	display: inline-block;
	list-style: none;
	padding: 5px;
	font: bold 14px Tahoma;
	background: gold;
	-webkit-border-radius: 3px;
	-webkit-transition: -webkit-transform .5s;
}

#topMenu li:hover {
	-webkit-transform: scale(1.2, 1.2);
	color: maroon
}	

#flexDiv{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}

#mainSection {
	border: 2px solid maroon;
	-webkit-box-flex: 1;
	margin: 20px;
	padding: 20px;
	-webkit-box-ordinal-group: 2;
	-webkit-box-flex: 15;
}

#sideNews {
	border: 2px solid maroon;
	margin: 20px 0px;
	padding: 30px;
	background: -webkit-linear-gradient(top, gold 30%, maroon 70%);
	-webkit-box-ordinal-group: 1;
	-webkit-box-flex: 2;
}

#pageFooter{
	text-align: center;
	padding: 20px;
	border-top: 3px solid maroon;
}