#parent {
	border: 2px solid blue;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	width: 700px;
	height: 300px;
	-webkit-box-align: center;
}

#kid1 {
	border: 2px solid red;
	background: green;
	padding: 20px;
	margin: 10px;
	-webkit-box-ordinal-group: 1;
	-webkit-box-flex: 1;
}

#kid2 {
	border: 2px solid red;
	background: yellow;
	padding: 20px;
	margin: 10px;
	-webkit-box-ordinal-group: 2;
	-webkit-box-flex: 3;
}

#kid3 {
	border: 2px solid red;
	background: red;
	padding: 20px;
	margin: 10px;
	-webkit-box-ordinal-group: 3;
	-webkit-box-flex: 1;
}

#kid4 {
	border: 2px solid red;
	background: orange;
	padding: 20px;
	margin: 10px;
	-webkit-box-ordinal-group: 4;
	-webkit-box-flex: 1;
}
