* {
	color:blue;
}

p:not(.torrey){
	color:orange;
}

tr:nth-child(odd) > td:nth-child(even){
	background-color:yellow;
}

tr:nth-child(odd) > td:nth-child(odd){
	background-color:red;
}

tr:nth-child(even) > td:nth-child(odd){
	background-color:yellow;
}

tr:nth-child(even) > td:nth-child(even){
	background-color:red;
}
